@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
    @media (prefers-reduced-motion) {
        .animated {
            -webkit-animation: unset !important;
            animation: unset !important;
            -webkit-transition: none !important;
            transition: none !important;
        }
    }
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin transform($value) {
    -webkit-transform: $value;
    -moz-transform: $value;
    -ms-transform: $value;
    -o-transform: $value;
    transform: $value;
}
* {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #676767;
    overflow-x: hidden;
}

h2 {
    font-weight: 100;
    margin-bottom: 50px;
    margin-top: 40px;
}

p {
    font-size: 13px;
    margin: 15px auto;
}

.doing {
    transform: rotate(-35deg);
    display: block;
    position: absolute;
    top: 0;
    left: -90px;
    margin-top: 25px;
    text-align: center;
    background-color: #15748b;
    width: 300px;
    color: #fff;
    padding: 5px 0px;
}

.will-fadeIn {
    display: block;
    width: 100%;
    max-width: 75%;
    margin: 20px auto;
    height: 185px;
    background-color: #b7f7f7;
    padding: 10px;
    display: inline-block;
    &:nth-child(odd) {
        background: #ffeded;
    }
    &:first-child {
        height: auto;
        background-color: #edffff;
    }
}

.fadeInRight {
    @include animation("fadeInRight .5s ease .4s both");
}

.fadeInLeft {
    @include animation("fadeInLeft .5s ease .4s both");
}

@include keyframes(fadeInRight) {
    from {
        opacity: 0;
        @include transform(translate3d(100%, 0, 0));
    }

    to {
        opacity: 1;
        @include transform(translate3d(0, 0, 0));
    }
}

@include keyframes(fadeInLeft) {
    from {
        opacity: 0;
        @include transform(translate3d(-100%, 0, 0));
    }

    to {
        opacity: 1;
        @include transform(translate3d(0, 0, 0));
    }
}

/*************SCSS BY OP*************/

header {
    position: absolute;
    width: 100%;
    top: 25px;
    left: 30px;

    z-index: 100;
    // animation-name: aparece-header;
    // animation-duration: 1000ms;
    // animation-fill-mode: forwards;
    // animation-timing-function: linear;

    ul {
        display: flex;
        list-style: none;

        li {
            margin: 0 10px;
            font-family: "Poppins", sans-serif;
            a {
                text-decoration: none;
                color: white;
                font-style: italic;
            }
        }
    }
}

.logo-container {
    width: 500px;
    margin: 0 auto;
    z-index: 1000;
    .img-box {
        width: 50%;
        margin: 0 auto;
        margin-top: 100px;
        img {
            max-width: 100%;
            height: auto;
        }
    }
    h2 {
        color: white;
        margin: 0;
        font-style: italic;
        font-weight: bold;
    }
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    h3 {
        position: absolute;
        span {
            font-weight: 400;
            font-size: 2rem;
        }
        color: white;
        text-shadow: none;
        font-size: 3.5rem;
        font-weight: 900;
    }
}

#gasolina {
    // background-image: url("./assets/gasolina.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

    &:hover {
        .card-bg {
            transition-timing-function: ease;
            transition-property: all;
            transform: scale(1.2);
        }
        .card-bg::before {
            display: block;
        }
    }

    .card-bg {
        @extend .card;
        width: 100%;
        height: 100%;
        background-image: url("./assets/gasolina.png");
        background-size: cover;
        transition-duration: 500ms;
    }
}

.card-bg::before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.333);
}
.card-btn {
    position: absolute;
    right: 30px;
    width: 45px;

    img {
        max-width: 100%;
        height: auto;
    }
}

#diesel {
    @extend #gasolina;
    .card-bg {
        background-image: url("./assets/diesel.png");
    }
}

#borda {
    @extend #gasolina;
    .card-bg {
        background-image: url("./assets/fuera\ de\ borda.png");
    }
}

#motocicletas {
    @extend #gasolina;
    .card-bg {
        background-image: url("./assets/motocicletas.png");
    }
}

#transmisiones {
    @extend #gasolina;
    .card-bg {
        background-image: url("./assets/transmisiones.png");
    }
}

#industriales {
    @extend #gasolina;
    .card-bg {
        background-image: url("./assets/industriales.png");
    }
}

/********SCROLL ANIMATION**********/

$mouseHeight: 60px;
$mouseWidth: 35px;

$mouseColor: rgba(255, 255, 255, 1);
$mouseWheelColor: $mouseColor;

$hoverTransition: 0.2s ease-in-out;
$mouseHoverColor: rgba(255, 255, 255, 0.4);
$mouseWheelHoverColor: $mouseHoverColor;

.mouse-position {
    position: absolute;
    display: block;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    right: 3%;
    top: 28%;
    margin: 50px 0;
    transition-property: opacity;
    transition-duration: 500ms;
    transition-timing-function: ease-in;
}
/* END: PEN STYLES */

/*
  Animated Mouse Scroll Button (v1.0)
  By Sam Jakob Mearns (https://www.samjakob.com/)
  */
.mouse-container {
    display: block;
    text-align: center;

    .mouse-outer {
        position: relative;
        display: inline-block;

        height: $mouseHeight;
        width: $mouseWidth;

        border: 2px solid $mouseColor;
        border-radius: $mouseHeight;

        transition: border-color $hoverTransition;

        .mouse-wheel {
            $wheelWidth: #{ceil($mouseWidth / 6)};
            $halfWheelWidth: #{$mouseWidth / 12};

            position: absolute;
            top: 10%;
            left: 50%;
            margin-left: -$halfWheelWidth;

            height: #{$mouseHeight / 4};
            width: $wheelWidth;
            background-color: $mouseWheelColor;

            border-radius: $wheelWidth;

            transition: background-color $hoverTransition;

            -webkit-animation: scroll 1.4s infinite linear;
            -moz-animation: scroll 1.4s infinite linear;
            -o-animation: scroll 1.4s infinite linear;
            animation: scroll 1.4s infinite linear;
        }

        &:hover {
            border-color: $mouseHoverColor;

            .mouse-wheel {
                background-color: $mouseWheelHoverColor;
            }
        }
    }
}

@-webkit-keyframes scroll {
    0% {
        transform: scaleY(0.5) translateY(0);
    }
    20% {
        transform: scaleY(1) translateY(#{$mouseHeight / 8});
    }
    60% {
        transform: scaleY(0.5) translateY(15px);
    }
    to {
        transform: scaleY(0.5) translateY(0);
    }
}

@-o-keyframes scroll {
    0% {
        transform: scaleY(0.5) translateY(0);
    }
    20% {
        transform: scaleY(1) translateY(#{$mouseHeight / 8});
    }
    60% {
        transform: scaleY(0.5) translateY(15px);
    }
    to {
        transform: scaleY(0.5) translateY(0);
    }
}

@-moz-keyframes scroll {
    0% {
        transform: scaleY(0.5) translateY(0);
    }
    20% {
        transform: scaleY(1) translateY(#{$mouseHeight / 8});
    }
    60% {
        transform: scaleY(0.5) translateY(15px);
    }
    to {
        transform: scaleY(0.5) translateY(0);
    }
}

@keyframes scroll {
    0% {
        transform: scaleY(0.5) translateY(0);
    }
    20% {
        transform: scaleY(1) translateY(#{$mouseHeight / 8});
    }
    60% {
        transform: scaleY(0.5) translateY(15px);
    }
    to {
        transform: scaleY(0.5) translateY(0);
    }
}
